@import "../../mixins";

.project {
  padding: 0 0 120px;
  display: flex;
  flex-direction: column-reverse;
  @include desktop {
    align-items: flex-start;
    padding: 0 0 240px;
  }
}

.notReversed {
  @include desktop {
    flex-direction: row;
  }
}

.reversed {
  @include desktop {
    flex-direction: row-reverse;
  }
  .copy {
    @include desktop {
      padding: 0 0 0 60px;
    }
  }
}

.copy {
  @include tablet {
    max-width: 620px;
    padding: 0 60px 0 0;
  }
}

.image {
  border: 15px solid #fff;
  position: relative;
  max-height: 400px;
  overflow-y: hidden;
  margin: 0 0 30px auto;
  background: #fff;
  max-width: 760px;
  @include tablet {
    width: 100%;
    max-height: 600px;
  }
  @include desktop {
    margin: 0;
  }
  &:hover {
    .encourage {
      opacity: 0;
    }
  }
}

.name {
  @include title;
}

.brief {
  @include copy;
}

.link {
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 30px;
  text-decoration: none;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  &:hover {
    transform: translate3d(25px, 0, 0);
  }
}

/* full credit http://www.redbullmusicacademy.com/ */
.loadingImg {
  animation-name: pixel-rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1,end);
  animation-iteration-count: infinite;
  transform-origin: center center;
  backface-visibility: visible;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.loadedImg, .loadingImg {
  display: block;
  width: 100%;
  height: auto;
  transform: translate3D(0, 0, 0);
  transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    cursor: s-resize;
    cursor: url(../../assets/svgs/point.svg), s-resize;
  }
}

/* full credit http://www.redbullmusicacademy.com/ */
@keyframes pixel-rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg)
  }
  25% {
    transform: rotateY(180deg) rotateX(180deg)
  }
  50% {
    transform: rotateY(0deg) rotateX(180deg)
  }
  75% {
    transform: rotateY(180deg) rotateX(0deg)
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg)
  }
}