@import "../../mixins";

.project {
  padding: 0 0 120px;
  @include tablet {
    display: flex;
    align-items: flex-start;
    padding: 0 0 240px;
  }
}

.notReversed {
  flex-direction: row;
}

.reversed {
  flex-direction: row-reverse;
  .copy {
    @include tablet {
      padding: 0 0 0 60px;
    }
  }
}

.copy {
  @include tablet {
    max-width: 620px;
    padding: 0 60px 0 0;
  }
}

.image {
  border: 15px solid #fff;
  position: relative;
  @include tablet {
    width: 100%;
    max-width: 760px;
    max-height: 600px;
    overflow-y: hidden;
  }
  &:hover {
    .encourage {
      opacity: 0;
    }
  }
}

.name {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 30px;
}

.brief {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 30px;
  line-height: 1.5;
}

.link {
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 30px;
  text-decoration: none;
  display: block;
  &:hover {
    transform: translateX(25px);
  }
}

/* full credit http://www.redbullmusicacademy.com/ */
.loadingImg {
  animation-name: pixel-rotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1,end);
  animation-iteration-count: infinite;
  transform-origin: center center;
  backface-visibility: visible;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.loadedImg, .loadingImg {
  display: block;
  width: 100%;
  height: auto;
  // crisper images
  transform: translate3D(0, 0, 0);
  transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    cursor: s-resize;
  }
}

.encourage {
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation: bounce 3s infinite;
  opacity: 1;
  transition: opacity 0.4s 0.4s;
  img {
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
  }
}

/* full credit http://www.redbullmusicacademy.com/ */
@keyframes pixel-rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg)
  }
  25% {
    transform: rotateY(180deg) rotateX(180deg)
  }
  50% {
    transform: rotateY(0deg) rotateX(180deg)
  }
  75% {
    transform: rotateY(180deg) rotateX(0deg)
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg)
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translate3D(0, 0, 0);
  }
  30% {
    transform: translate3D(0, calc(50% - -30px), 0);
  }
  70% {
    transform: translate3D(0, calc(50% - -15px), 0);
  }
}