@import "../../mixins";

.page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.content {
  padding: 30px;
  @include tablet {
    padding: 60px;
    
  }
  @include desktop {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1500px;
  }
}

.copy {
  @include tablet {
    padding: 0 30px 0 0;
  }
}

.title {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0 0 60px;
  
  h1 {
    margin: 0;
    @include tablet {
      font-size: 4rem;
      // this uses the /n in the text to break a break
      white-space: pre-line;
    }
    @include desktop {
      font-size: 5rem;
    }
  }
  &.animate {
    opacity: 0;
    animation: slideRight 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}

.introduction {
  font-weight: 700;
  padding: 0 0 60px;
  @include desktop {
    padding: 0;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      font-size: 4rem;
    }
  }
  &.animate {
    opacity: 0;
    animation: slideUp 1s 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}

.links {
  font-size: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 3rem;
  }
  @include desktop {
    padding: 0 0 0 30px;
    font-size: 4rem;
  }
  &.animate {
    opacity: 0;
    animation: slideLeft 0.5s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}

.link {
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0 0 15px;
  display: block;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  &:hover {
    transform: translate3d(25px, 0, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}