@import "../../mixins";

.page {
  @include page();
}

.heading {
  @include heading();
}

.skills {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 30px));
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 120px;
  }
  
}

.skill {
  max-width: 700px;
}

.skillJS {
  grid-column-start: 1;
  grid-column-end: 3;
}

.name {
  @include title;
  border-top: 1px solid;
  padding: 0 0 30px;
}

.detail {
  @include copy;
}