.page {
  padding: 60px;
  max-width: 1500px;
  margin: 0 auto;
}

.heading {
  border-top: 1px solid;
  padding: 0 0 120px;
  h2 {
    font-size: 4rem;
    margin: 0;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-column-gap: 60px;
}

.skill {
  max-width: 700px;
}

.skillJS {
  grid-column-start: 1;
  grid-column-end: 3;
}

.name {
  border-top: 1px solid;
  padding: 0 0 30px;
  h3 {
    font-size: 3rem;
    margin: 0;
  }
}

.detail {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 30px;
  line-height: 1.5;
  p {
    margin: 0 0 30px;
  }
}