.navigation {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.link {
  margin: 0 0 0 15px;
  color: #b6b6bc;
  &:hover {
    color: #333;
    border-bottom: 2px solid;
  }
}

.active {
  border-bottom: 2px solid;
}

.inactive {
  
}