.navigation {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.link {
  padding: 0 0 0 15px;
  color: #333;
}

.active {
  display: none;
}

.inactive {
  
}