@import "../../mixins";

.navigation {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  @include tablet {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}

.link {
  margin: 7.5px 15px 7.5px 0;
  color: #b6b6bc;
  @include tablet {
    margin: 0 0 0 15px;
      border-bottom: 2px solid transparent;
    &:hover {
      color: #333;
      border-bottom: 2px solid;
    }
  }
}

.active {
  border-bottom: 2px solid;
}

.inactive {
  
}