@import "../../mixins";

.page {
  @include page();
  min-height: 100vh;
}

.heading {
  @include heading();
}

.content {
  
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 30px));
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 120px;
  }
}

.contact {
  padding: 0 0 30px;
}

.name {
  border-top: 1px solid;
  @include title;
  
}

.detail {
  @include copy;
  a {
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: inline-block;
    &:hover {
      transform: translate3d(25px, 0, 0);
    }
  }
}