@import "../../mixins";

.header {
  padding: 15px;
  @include tablet {
    padding: 60px 60px 0 60px;
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  
}