@import "../../mixins";

header {
  transition: background 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    background: #F5F5F5;
    .title, a {
      color: #333;
    }
  }
  @include tablet {
    position: sticky;
    top: 100%;
    transform: translate3d(0, -100%, 0);
    z-index: 1;
    top: 0;
    transform: translate3d(0, 0, 0);
  }
}

.header {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
  @include tablet {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b6b6bc;
  margin: 0 0 30px;
  display: block;
  @include tablet {
    margin: 0;
  }
}