* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  background: #F5F5F5;
/*   color: #222032;
background: #ff9100; */
}

a {
  color: #6b97c7;
  transition: color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-width: 768px) {
  a:hover {
    color: #5d88b7; 
  }
}


